<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\Logs\Football-FxStreet\api-internallog.txt">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:/Logs/Football-FxStreet/${shortdate}_api-logfile.json"
            layout="${longdate} ${level:uppercase=true} ${message} | ${stacktrace}"/>
    <target name="logjson" xsi:type="File" archiveNumbering="Date" archiveEvery="Day" 
            fileName="C:/Logs/Football-FxStreet/${shortdate}_api-logfile.json" concurrentWrites="true" keepFileOpen="false" encoding="UTF-8">
      <layout type="JsonLayout" includeAllProperties="false">
        <attribute name="@timestamp" layout="${longdate}" />
        <attribute name="Logger" layout="${logger}" />
        <attribute name="Threadid" layout="${threadid}" />
        <attribute name="Level" layout="${level}" />
        <attribute name="Message" layout="${message}" />
        <attribute name="Exception" layout="${exception}" />/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>